body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:8px; font-family: Verdana, Arial, Helvetica, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
*{padding: 0;margin: 0;box-sizing: border-box}
body,html{
  height: 100%;
}

/*公共类*/
.fl {
  float: left
}
.fr {
  float: right
}
.al {
  text-align: left
}
.ac {
  text-align: center
}
.ar {
  text-align: right
}
.hide {
  display: none
}
.fw{font-weight: bold;}
.border{border: 1px solid #ccc;}
.radius{border-radius: 5px;}
.p10{padding: 10px;}
.pt10{padding-top: 10px;}
.pb10{padding-bottom: 10px;}
.p10{padding: 10px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.lh30{line-height: 30px;}
.lh32{line-height: 32px;}
.ml20{margin-left: 20px;}
.mr10{margin-right: 10px;}
.mr10{margin-right: 10px;}
.w49{width: 49%;}
.w50{width: 50%;}
.h50{width: 50%;}
.table-title{font-weight: bold;padding-right: 40px;line-height: 28px;}
.in-block{display: inline-block;}

.bg-white{background-color: #fff;padding: 20px;}
.text-center{text-align: center;}
.div-flex{display: flex;}
.flex-auto{flex: 1;}
.flex1{flex: 1;}
.flex2{flex: 2;}
.flex3{flex: 3;}
.flex4{flex: 4;}
.flex5{flex: 5;}
.flex6{flex: 6;}
.pointer{cursor: pointer;}
.inline-block{display: inline-block;}
.el-menu--collapse .el-menu .el-submenu, .el-menu--popup{min-width: auto !important;}

